
# 忽略 node_modules 文件
node_modules
# 忽略所有以 .a 结尾的文件
*.a
# 但否定忽略 lib.a, 尽管已经在前面忽略了 .a 文件
!lib.a
# 仅在当前目录下忽略 dist文件
/dist
# 忽略 bulid/ 文件夹下的所有文件
bulid/
# 忽略 .txt结尾的文件
*.txt
# 否定忽略当前目录下的.txt文件
! /hehonghui.txt

